<div class="w-full min-h-screen pb-20">
    <div class="h-screen flex items-center justify-center relative bg-center bg-cover bg-no-repeat bg-[url('https://static.vecteezy.com/system/resources/previews/003/127/939/original/abstract-white-and-grey-stripe-diagonal-lines-background-free-vector.jpg')] bg-gray-200 dark:bg-gray-900 dark:bg-blend-multiply bg-blend-lighten">
        <div class="absolute top-1/3 text-center px-10">
            <div class="flex justify-start">
                <i class="bi bi-code text-6xl text-gray-700 dark:text-gray-200"></i>
            </div>
            <h1 class="mb-3 text-5xl font-bold tracking-wider uppercase text-gray-700 dark:text-gray-200">EXPERIENCIA</h1>
            <div class="flex justify-between">
                <i class="bi bi-three-dots text-6xl text-gray-700 dark:text-gray-200"></i>
                <i class="bi bi-code-slash text-6xl text-gray-700 dark:text-gray-200"></i>
            </div>

        </div>
        
        <app-social-media></app-social-media>

    </div>
    <div class="px-10 md:px-24">
        <div class="inline-flex items-center justify-center w-full my-10">
            <hr class="w-64 h-1 my-8 bg-indigo-200 border-0 rounded dark:bg-gray-700">
            <div class="absolute px-4 -translate-x-1/2 bg-gray-50 left-1/2 dark:bg-gray-900">
                <svg class="w-6 h-6 text-gray-700 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                </svg>
            </div>
        </div>
        <ol class="relative border-l border-gray-200 dark:border-gray-700 max-w-xl mx-auto">                  
            <li class="mb-10 ml-6">            
                <span class="absolute flex items-center justify-center w-7 h-7 rounded-full -left-3.5 bg-gray-50 dark:bg-gray-900">
                    <span class="w-4 h-4 bg-purple-900/50 dark:bg-gray-500 rounded-full"></span>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-700 dark:text-gray-200">PHP Web Developer <a href="https://cwhkcpa.com/" target="_blank" class="inline-block bg-purple-100 text-purple-900 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:text-gray-300 dark:bg-gray-800 ml-3">CW CPA</a></h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Agosto 2022 - Septiembre 2023</time>
                <p class="mb-3 text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de soluciones para potenciar los procesos internos y/o facilitar la gestión de la relación con los clientes.</p>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">PHP</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">JavaScript</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">jQuery</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Tailwind CSS</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Flowbite</span>
            </li>
            <li class="mb-10 ml-6">
                <span class="absolute flex items-center justify-center w-7 h-7 rounded-full -left-3.5 bg-gray-50 dark:bg-gray-900">
                    <span class="w-4 h-4 bg-purple-900/50 dark:bg-gray-500 rounded-full"></span>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-700 dark:text-gray-200">Becario Angular & .NET <a href="https://itzonyoc.mx/" target="_blank" class="inline-block bg-purple-100 text-purple-900 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:text-gray-300 dark:bg-gray-800 ml-3">ITZONYOC Consultores</a></h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2022</time>
                <p class="mb-3 text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de soluciones en Angular y .NET</p>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Angular</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">TypeScript</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">.NET</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Bootstrap</span>
            </li>
            <li class="ml-6">
                <span class="absolute flex items-center justify-center w-7 h-7 rounded-full -left-3.5 bg-gray-50 dark:bg-gray-900">
                    <span class="w-4 h-4 bg-purple-900/50 dark:bg-gray-500 rounded-full"></span>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-700 dark:text-gray-200">IT Intern <a href="https://cwhkcpa.com/" target="_blank" class="inline-block bg-purple-100 text-purple-900 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:text-gray-200 dark:bg-gray-800 ml-3">CW CPA</a></h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Mayo 2021 - Agosto 2021</time>
                <p class="mb-3 text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de la integración para exportar información de un tablerode la plataforma de monday.com a una hoja de cálculo de Google.</p>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">PHP</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">JavaScript</span>
                <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Bootstrap</span>
            </li>
        </ol>
    </div>
</div>