<div class="w-full min-h-screen">
    <div class="px-10 md:px-24" *ngIf="nota">
        <main class="py-24 bg-white dark:bg-gray-900">
            <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
                <article class="mx-auto w-full max-w-2xl">
                    <header class="mb-4 lg:mb-6">
                        <address class="flex items-center mb-6 not-italic">
                            <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                <!-- <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt=""> -->
                                <div class="relative inline-flex items-center justify-center mr-4 w-16 h-16 overflow-hidden bg-gray-200 rounded-full dark:bg-gray-600">
                                    <span class="text-3xl font-medium text-gray-600 dark:text-gray-300">JA</span>
                                </div>

                                <div>
                                    <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jose Abraham</a>
                                    <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate attr.datetime="{{nota.fecha}}">{{nota.fecha}}</time></p>
                                </div>
                            </div>
                        </address>
                        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{nota.titulo}}</h1>
                        <img src="{{nota.imagen}}" class="object-contain w-max-full" alt="Portada">
                    </header>
                    <div [innerHTML]="nota.contenido" class="text-base font-normal text-gray-500 dark:text-gray-400 min-h-screen w-full"></div>
                </article>
            </div>
        </main>
    </div>
</div>