<div class="w-full min-h-screen pb-20">
    <div class="text-center">
        <div class="h-screen flex items-center justify-center relative bg-center bg-cover bg-no-repeat bg-[url('https://static.vecteezy.com/system/resources/previews/003/127/939/original/abstract-white-and-grey-stripe-diagonal-lines-background-free-vector.jpg')] bg-gray-200 dark:bg-gray-900 dark:bg-blend-multiply bg-blend-lighten">
            <div class="absolute top-1/3">
                <p class="self-center text-lg whitespace-nowrap dark:text-gray-200 font-bold tracking-wide text-gray-700">¿Qué tal? <span class="font-medium">Yo soy...</span></p>
                <h1 class="mb-3 text-5xl font-bold tracking-wider uppercase text-gray-700 dark:text-gray-200">JOSE ABRAHAM</h1>
                <p class="mb-3 font-normal text-lg text-gray-700 dark:text-gray-200">Desarrollador LAMP/MEAN Stack Jr., apasionado por la informática y la computación</p>
                <i class="bi bi-regex text-6xl text-gray-700 dark:text-gray-200"></i>
            </div>

            <app-social-media></app-social-media>
        </div>


        <div class="inline-flex items-center justify-center w-full my-10">
            <hr class="w-64 h-1 my-8 bg-indigo-200 border-0 rounded dark:bg-gray-700">
            <div class="absolute px-4 -translate-x-1/2 bg-gray-50 left-1/2 dark:bg-gray-900">
                <svg class="w-6 h-6 text-gray-700 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                </svg>
            </div>
        </div>

        <div class="px-10 md:px-24">
            <h2 class="mb-3 text-4xl font-bold tracking-wider uppercase text-gray-700 dark:text-gray-200">SOBRE MÍ</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
                <div class="text-justify text-lg font-normal text-gray-700 dark:text-gray-200">
                    <p class="mb-3">Soy egresado de la UTSJR en la carrera de Ingeniería en Desarrollo y Gestión de Software.</p>
                    <p class="mb-3">Comencé a programar a la edad de 12 años en un videojuego llamado Multi Theft Auto: San Andreas desarrollando scripts en el lenguaje de programación Lua. A partir de ese momento mi interés por la programación y el desarrollo de software comenzó al volverse mi pasatiempo y posteriormente mi profesion.</p>
                    <p class="mb-3"></p>
                    <p>Actualmente trabajo con las siguientes tecnologías:</p>
                    <ul class="list-disc list-inside px-2 list-image-[url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=)]">
                        <li>PHP</li>
                        <li>JavaScript + jQuery</li>
                        <li>Angular</li>
                        <li>Laravel</li>
                        <li>MariaDB | MySQL</li>
                        <li>Tailwind CSS + Flowbite</li>
                    </ul>
                </div>
                <div class="text-justify">
                    <div class="flex p-4 mb-4 text-sm text-purple-900 rounded-lg bg-purple-100 dark:bg-gray-800 dark:text-gray-200" role="alert">
                        <svg class="w-4 h-4  mr-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 0 19 9.5 9.5 0 0 0 0-19ZM8.374 17.4a7.6 7.6 0 0 1-5.9-7.4c0-.83.137-1.655.406-2.441l.239.019a3.887 3.887 0 0 1 2.082 2.5 4.1 4.1 0 0 0 2.441 2.8c1.148.522 1.389 2.007.732 4.522Zm3.6-8.829a.997.997 0 0 0-.027-.225 5.456 5.456 0 0 0-2.811-3.662c-.832-.527-1.347-.854-1.486-1.89a7.584 7.584 0 0 1 8.364 2.47c-1.387.208-2.14 2.237-2.14 3.307a1.187 1.187 0 0 1-1.9 0Zm1.626 8.053-.671-2.013a1.9 1.9 0 0 1 1.771-1.757l2.032.619a7.553 7.553 0 0 1-3.132 3.151Z"/>
                        </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span class="font-medium">Implementado con GitHub Pages (front-end) + Heroku (back-end)</span>
                        <ul class="mt-1.5 ml-4 list-disc list-inside">
                            <li>Front-end: Angular y Tailwind CSS + Flowbite</li>
                            <li>Tipografía: Source Sans 3</li>
                            <li>Back-end: Laravel + MySQL</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>