<div class="w-full min-h-screen pb-20">
    <div class="text-center">
        <div class="h-screen flex items-center justify-center relative bg-center bg-cover bg-no-repeat bg-[url('https://static.vecteezy.com/system/resources/previews/003/127/939/original/abstract-white-and-grey-stripe-diagonal-lines-background-free-vector.jpg')] bg-gray-200 dark:bg-gray-900 dark:bg-blend-multiply bg-blend-lighten">
            <div class="absolute top-1/3 px-10">
                <p class="self-center text-lg whitespace-nowrap dark:text-gray-200 font-bold tracking-wide text-gray-700">¿Qué tal? <span class="font-medium">Yo soy...</span></p>
                <h1 class="mb-3 text-5xl font-bold tracking-wider uppercase text-gray-700 dark:text-gray-200">JOSE ABRAHAM</h1>
                <p class="mb-3 font-normal text-lg text-gray-700 dark:text-gray-200">Desarrollador LAMP/MEAN Stack Jr., apasionado por la informática y la computación</p>
                <i class="bi bi-regex text-6xl text-gray-700 dark:text-gray-200"></i>
            </div>

            <app-social-media></app-social-media>
        </div>


        <div class="inline-flex items-center justify-center w-full my-10">
            <hr class="w-64 h-1 my-8 bg-indigo-200 border-0 rounded dark:bg-gray-700">
            <div class="absolute px-4 -translate-x-1/2 bg-gray-50 left-1/2 dark:bg-gray-900">
                <svg class="w-6 h-6 text-gray-700 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                </svg>
            </div>
        </div>

        <div class="px-10 md:px-24">
            <h2 class="mb-3 text-4xl font-bold tracking-wider uppercase text-gray-700 dark:text-gray-200">SOBRE MÍ</h2>
            <div class="max-w-2xl mx-auto">
                <div class="text-justify font-normal text-gray-700 dark:text-gray-200">
                    <div class="flex p-4 mb-4 text-sm text-purple-900 rounded-lg bg-purple-100 dark:bg-gray-800 dark:text-gray-200" role="alert">
                        <p>Comencé a programar a la edad de 12 años en un videojuego llamado Multi Theft Auto: San Andreas desarrollando scripts en el lenguaje de programación Lua. A partir de ese momento mi interés por la programación y el desarrollo de software comenzó al volverse mi pasatiempo y posteriormente mi profesion.</p>
                    </div>

                    <div class="text-justify">
                        <div class="flex p-4 mb-4 text-sm text-purple-900 rounded-lg bg-purple-100 dark:bg-gray-800 dark:text-gray-200" role="alert">
                            <svg class="w-4 h-4  mr-3 mt-[1px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M17 16h-1V2a1 1 0 1 0 0-2H2a1 1 0 0 0 0 2v14H1a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM5 4a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4Zm0 5V8a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1Zm6 7H7v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm2-7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1Zm0-4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1Z"/>
                            </svg>
                        <span class="sr-only">Info</span>
                        <div class="pr-4">
                            <span class="font-medium text-purple-900 text-sm font-medium dark:text-gray-300 dark:bg-gray-800">Educación</span>
                            <div class="text-left my-3">
                                <p class="text-sm">Ingeniería en Desarrollo y Gestión de Software</p>
                                <p class="text-xs">2021 - 2023 | <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium rounded dark:bg-gray-800 dark:text-gray-200 dark:border-gray-400">Universidad Tecnológica de San Juan del Río</span></p>
                            </div>
                            <div class="text-left my-3">
                                <p class="text-sm">T.S.U. en Tecnologías de la Información Área Desarrollo de Software Multiplataforma</p>
                                <p class="text-xs">2021 - 2023 | <span class="inline-block bg-purple-100 text-purple-900 text-xs font-medium rounded dark:bg-gray-800 dark:text-gray-200 dark:border-gray-400">Universidad Tecnológica de San Juan del Río</span></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="text-justify">
                    <div class="text-justify">
                        <div class="flex p-4 mb-4 text-sm text-purple-900 rounded-lg bg-purple-100 dark:bg-gray-800 dark:text-gray-200" role="alert">
                            <svg class="w-4 h-4  mr-3 mt-[1px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M18 7.5h-.423l-.452-1.09.3-.3a1.5 1.5 0 0 0 0-2.121L16.01 2.575a1.5 1.5 0 0 0-2.121 0l-.3.3-1.089-.452V2A1.5 1.5 0 0 0 11 .5H9A1.5 1.5 0 0 0 7.5 2v.423l-1.09.452-.3-.3a1.5 1.5 0 0 0-2.121 0L2.576 3.99a1.5 1.5 0 0 0 0 2.121l.3.3L2.423 7.5H2A1.5 1.5 0 0 0 .5 9v2A1.5 1.5 0 0 0 2 12.5h.423l.452 1.09-.3.3a1.5 1.5 0 0 0 0 2.121l1.415 1.413a1.5 1.5 0 0 0 2.121 0l.3-.3 1.09.452V18A1.5 1.5 0 0 0 9 19.5h2a1.5 1.5 0 0 0 1.5-1.5v-.423l1.09-.452.3.3a1.5 1.5 0 0 0 2.121 0l1.415-1.414a1.5 1.5 0 0 0 0-2.121l-.3-.3.452-1.09H18a1.5 1.5 0 0 0 1.5-1.5V9A1.5 1.5 0 0 0 18 7.5Zm-8 6a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Z"/>
                              </svg>
                        <span class="sr-only">Info</span>
                        <div class="pr-4">
                            <span class="font-medium text-purple-900 text-sm font-medium dark:text-gray-300 dark:bg-gray-800">Habilidades</span>
                            <div class="space-y-2">
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">PHP</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">JavaScript</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">jQuery</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Angular</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Laravel</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">MariaDB</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">MySQL</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Tailwind CSS + Flowbite</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">CSS</span>
                                <span class="select-none inline-block bg-purple-100 text-purple-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-200 border border-purple-400 dark:border-gray-400">Bootstrap</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>